@{
    ViewData["Title"] = "Dotnet Demo";
}

<div class="text-center">
    <h1 class="display-4">Welcome to OpenShift Container Platform</h1>
    <p style='background-color:rgb(45,58,58);'><img src='https://lsdopen.io/wp-content/uploads/2023/07/LSD-OPEN-WHITE-2-1-e1689754763455.png' align=left width=400 height=60></p>
    <p>Learn about <br> 
    <a href="https://www.redhat.com/en/blog/introducing-openshift-pipelines?channel=/en/blog/channel/applications">Kube-native Pipelines on OpenShift</a>.</p>
</div>
