@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to OpenShift Container Platform</h1>
    <p>Learn about <a href="https://www.redhat.com/en/blog/introducing-openshift-pipelines?channel=/en/blog/channel/applications">Kube-native Pipelines on OpenShift</a>.</p>
</div>
